* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  overflow-x: hidden;
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.4);
}

.glassHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 1.1rem;
  transition: 0.2s;
}

nav a:hover {
  border-bottom: 2px solid white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.heroTitle {
  font-size: 4rem;
  font-weight: 700;
  animation: slide 1.3s ease forwards;
}

.heroSub {
  font-size: 1.5rem;
  margin-top: 10px;
  opacity: 0.8;
}

.btns {
  margin-top: 30px;
}

.btn {
  padding: 12px 30px;
  border-radius: 50px;
  border: 2px solid white;
  background: transparent;
  color: white;
  margin-right: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.section {
  padding: 8rem 10%;
  text-align: center;
}

.secTitle {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  padding: 1.2rem;
  font-size: 1.3rem;
}

.card:hover {
  transform: translateY(-10px);
}

.drawSection canvas {
  border: 5px solid white;
  border-radius: 12px;
  background: #000000aa;
}

.tools {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.clr {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.clear {
  margin-top: 20px;
}

.contactBox {
  width: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.contactBox input,
.contactBox textarea {
  padding: 12px;
  background: transparent;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 1.1rem;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}
